@font-face {
	font-family: Roboto;
	src: local("Roboto Light"), local("Roboto-Light"), url(/static/fonts/roboto/roboto-light.woff) format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	src: local("Roboto"), local("Roboto-Regular"), url(/static/fonts/roboto/roboto-regular.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	src: local("Roboto Medium"), local("Roboto-Medium"), url(/static/fonts/roboto/roboto-medium.woff) format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	src: local("Roboto Italic"), local("Roboto-Italic"), url(/static/fonts/roboto/roboto-italic.woff) format("woff");
	font-weight: 400;
	font-style: italic;
}
.alt-mono-font {
	font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.alt-h0 {
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif; -webkit-font-smoothing: antialiased;
}
.alt-h1 {
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif; -webkit-font-smoothing: antialiased;
}
.alt-h2 {
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif; -webkit-font-smoothing: antialiased;
}
.alt-h3 {
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif; -webkit-font-smoothing: antialiased;
}
.alt-h4 {
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif; -webkit-font-smoothing: antialiased;
}
.alt-h5 {
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif; -webkit-font-smoothing: antialiased;
}
.alt-h6 {
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif; -webkit-font-smoothing: antialiased;
}
.alt-lead {
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif; -webkit-font-smoothing: antialiased;
}
.alt-h0 {
	font-size: 48px; font-weight: 300;
}
@media all and (min-width:768px)
{
.alt-h0 {
	font-size: 54px;
}
}
@media all and (min-width:1012px)
{
.alt-h0 {
	font-size: 72px;
}
}
.alt-h1 {
	font-size: 36px; font-weight: 300;
}
@media all and (min-width:768px)
{
.alt-h1 {
	font-size: 48px;
}
}
@media all and (min-width:1012px)
{
.alt-h1 {
	font-size: 54px;
}
}
.alt-h2 {
	font-size: 28px; font-weight: 300;
}
@media all and (min-width:768px)
{
.alt-h2 {
	font-size: 34px;
}
}
@media all and (min-width:1012px)
{
.alt-h2 {
	font-size: 38px;
}
}
.alt-h3 {
	font-size: 18px; font-weight: 400;
}
@media all and (min-width:768px)
{
.alt-h3 {
	font-size: 20px;
}
}
@media all and (min-width:1012px)
{
.alt-h3 {
	font-size: 22px;
}
}
.alt-h4 {
	font-size: 16px; font-weight: 500;
}
.alt-h5 {
	font-size: 14px; font-weight: 500;
}
.alt-h6 {
	font-size: 12px; font-weight: 500;
}
.alt-lead {
	font-size: 21px; font-weight: 300; -webkit-font-smoothing: antialiased;
}
@media all and (min-width:768px)
{
.alt-lead {
	font-size: 24px;
}
}
@media all and (min-width:1012px)
{
.alt-lead {
	font-size: 26px;
}
}
.alt-text-small {
	font-size: 14px !important;
}
.pullquote {
	color: rgb(88, 96, 105); line-height: 1.4; padding-top: 0px; padding-bottom: 0px; padding-left: 8px; font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace; font-size: 16px; margin-bottom: 24px; border-left-color: rgb(225, 228, 232); border-left-width: 3px; border-left-style: solid;
}
@media all and (min-width:768px)
{
.pullquote {
	line-height: 1.5; padding-left: 12px; font-size: 18px; margin-bottom: 32px; margin-left: -15px;
}
}
.breadcrumb-item {
	list-style: none; margin-left: -4px; display: inline-block; white-space: nowrap;
}
.breadcrumb-item::after {
	color: rgb(225, 228, 232); padding-right: 0.5em; padding-left: 0.5em; content: "/";
}
.breadcrumb-item-selected::after {
	content: none;
}
.card {
	border-radius: 6px; border: 1px solid rgb(225, 228, 232); border-image: none; box-shadow: 0px 1px 1px rgba(27,31,35,0.1); background-color: rgb(255, 255, 255);
}
.jumbotron {
	padding-top: 40px; padding-bottom: 40px; position: relative;
}
@media all and (min-width:544px)
{
.jumbotron {
	padding-top: 60px; padding-bottom: 60px;
}
}
@media all and (min-width:1280px)
{
.jumbotron {
	padding-top: 120px; padding-bottom: 120px;
}
}
@media all and (min-width:1012px)
{
.jumbotron-supertron {
	height: 45vw; padding-top: 80px; padding-bottom: 80px; min-height: 590px; max-height: 55vh;
}
}
.jumbotron-minitron {
	padding-top: 24px; padding-bottom: 24px;
}
@media all and (min-width:544px)
{
.jumbotron-minitron {
	padding-top: 32px; padding-bottom: 32px;
}
}
.jumbotron-shadow::after {
	left: 0px; width: 100%; height: 30px; bottom: 0px; position: absolute; content: " "; box-shadow: inset 0px -1px 0px rgba(0,0,0,0.05); background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05)); background-repeat: repeat-x; background-color: transparent;
}
.jumbotron-photo {
	position: relative; background-size: cover; background-color: rgb(36, 41, 46);
}
.jumbotron-photo::before {
	left: 0px; width: 100%; height: 100%; bottom: 0px; display: block; position: absolute; content: ""; background-color: rgba(0, 0, 0, 0.25);
}
.page-section {
	padding: 32px 0px; margin-top: 0px;
}
@media all and (min-width:768px)
{
.page-section {
	padding: 56px 0px;
}
}
:target.page-section-jumplink {
	padding-top: 112px;
}
@media all and (min-width:768px)
{
:target.page-section-jumplink {
	padding-top: 80px;
}
}
.data-table {
	border: 1px solid rgb(225, 228, 232); border-image: none; width: 100%; margin-top: 16px; border-collapse: collapse; box-shadow: 0px 1px 1px rgba(27,31,35,0.05);
}
.data-table th {
	text-align: left; font-weight: 400;
}
.data-table td {
	padding: 16px; border-right-color: rgb(225, 228, 232); border-bottom-color: rgb(225, 228, 232); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
.data-table th {
	padding: 16px; border-right-color: rgb(225, 228, 232); border-bottom-color: rgb(225, 228, 232); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
.data-table tbody th {
	width: 25%;
}
.data-table tbody th {
	border-bottom-color: rgb(225, 228, 232);
}
.data-table tbody td {
	border-bottom-color: rgb(225, 228, 232);
}
.data-table tbody tr:last-child th {
	border-bottom-color: rgb(225, 228, 232); border-bottom-width: 1px; border-bottom-style: solid;
}
.data-table tbody tr:last-child td {
	border-bottom-color: rgb(225, 228, 232); border-bottom-width: 1px; border-bottom-style: solid;
}
.grayscale {
	-webkit-filter: grayscale(100%);
}
@media all and (min-width:544px)
{
.border-sm-top {
	border-top-color: rgb(225, 228, 232) !important; border-top-width: 1px !important; border-top-style: solid !important;
}
.border-sm-right {
	border-right-color: rgb(225, 228, 232) !important; border-right-width: 1px !important; border-right-style: solid !important;
}
.border-sm-bottom {
	border-bottom-color: rgb(225, 228, 232) !important; border-bottom-width: 1px !important; border-bottom-style: solid !important;
}
.border-sm-left {
	border-left-color: rgb(225, 228, 232) !important; border-left-width: 1px !important; border-left-style: solid !important;
}
.border-sm-top-0 {
	border-top-color: currentColor !important; border-top-width: 0px !important; border-top-style: none !important;
}
.border-sm-right-0 {
	border-right-color: currentColor !important; border-right-width: 0px !important; border-right-style: none !important;
}
.border-sm-bottom-0 {
	border-bottom-color: currentColor !important; border-bottom-width: 0px !important; border-bottom-style: none !important;
}
.border-sm-left-0 {
	border-left-color: currentColor !important; border-left-width: 0px !important; border-left-style: none !important;
}
}
@media all and (min-width:768px)
{
.border-md-top {
	border-top-color: rgb(225, 228, 232) !important; border-top-width: 1px !important; border-top-style: solid !important;
}
.border-md-right {
	border-right-color: rgb(225, 228, 232) !important; border-right-width: 1px !important; border-right-style: solid !important;
}
.border-md-bottom {
	border-bottom-color: rgb(225, 228, 232) !important; border-bottom-width: 1px !important; border-bottom-style: solid !important;
}
.border-md-left {
	border-left-color: rgb(225, 228, 232) !important; border-left-width: 1px !important; border-left-style: solid !important;
}
.border-md-top-0 {
	border-top-color: currentColor !important; border-top-width: 0px !important; border-top-style: none !important;
}
.border-md-right-0 {
	border-right-color: currentColor !important; border-right-width: 0px !important; border-right-style: none !important;
}
.border-md-bottom-0 {
	border-bottom-color: currentColor !important; border-bottom-width: 0px !important; border-bottom-style: none !important;
}
.border-md-left-0 {
	border-left-color: currentColor !important; border-left-width: 0px !important; border-left-style: none !important;
}
}
@media all and (min-width:1012px)
{
.border-lg-top {
	border-top-color: rgb(225, 228, 232) !important; border-top-width: 1px !important; border-top-style: solid !important;
}
.border-lg-right {
	border-right-color: rgb(225, 228, 232) !important; border-right-width: 1px !important; border-right-style: solid !important;
}
.border-lg-bottom {
	border-bottom-color: rgb(225, 228, 232) !important; border-bottom-width: 1px !important; border-bottom-style: solid !important;
}
.border-lg-left {
	border-left-color: rgb(225, 228, 232) !important; border-left-width: 1px !important; border-left-style: solid !important;
}
.border-lg-top-0 {
	border-top-color: currentColor !important; border-top-width: 0px !important; border-top-style: none !important;
}
.border-lg-right-0 {
	border-right-color: currentColor !important; border-right-width: 0px !important; border-right-style: none !important;
}
.border-lg-bottom-0 {
	border-bottom-color: currentColor !important; border-bottom-width: 0px !important; border-bottom-style: none !important;
}
.border-lg-left-0 {
	border-left-color: currentColor !important; border-left-width: 0px !important; border-left-style: none !important;
}
}
@media all and (min-width:1280px)
{
.border-xl-top {
	border-top-color: rgb(225, 228, 232) !important; border-top-width: 1px !important; border-top-style: solid !important;
}
.border-xl-right {
	border-right-color: rgb(225, 228, 232) !important; border-right-width: 1px !important; border-right-style: solid !important;
}
.border-xl-bottom {
	border-bottom-color: rgb(225, 228, 232) !important; border-bottom-width: 1px !important; border-bottom-style: solid !important;
}
.border-xl-left {
	border-left-color: rgb(225, 228, 232) !important; border-left-width: 1px !important; border-left-style: solid !important;
}
.border-xl-top-0 {
	border-top-color: currentColor !important; border-top-width: 0px !important; border-top-style: none !important;
}
.border-xl-right-0 {
	border-right-color: currentColor !important; border-right-width: 0px !important; border-right-style: none !important;
}
.border-xl-bottom-0 {
	border-bottom-color: currentColor !important; border-bottom-width: 0px !important; border-bottom-style: none !important;
}
.border-xl-left-0 {
	border-left-color: currentColor !important; border-left-width: 0px !important; border-left-style: none !important;
}
}
hr {
	border-bottom-color: rgb(238, 238, 238);
}
.img-responsive {
	width: 100%; height: auto; display: block; max-width: 100%;
}
.video-responsive {
	height: 0px; padding-bottom: 56.25%; position: relative; max-width: 100%;
}
.video-responsive iframe {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute;
}
.video-responsive object {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute;
}
.video-responsive embed {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute;
}
.video-responsive .video-responsive-vr {
	margin: 0px 0px 0px -51px; left: 50%; width: 100px; bottom: 0px; border-bottom-width: 3px; position: absolute; transform: rotate(90deg); -webkit-transform: rotate(90deg);
}
.togglevideo .togglevideo-hidewhencollapsed {
	display: none;
}
.is-expanded.togglevideo .togglevideo-hidewhenexpanded {
	display: none;
}
.is-expanded.togglevideo .togglevideo-showwhenexpanded {
	display: block;
}
.site-nav-container {
	margin-right: auto; margin-left: auto; max-width: 980px;
}
.site-footer-container {
	margin-right: auto; margin-left: auto; max-width: 980px;
}
.page-responsive .site-nav-container {
	width: auto; padding-right: 16px; padding-left: 16px; max-width: 1012px;
}
.page-responsive .site-footer-container {
	width: auto; padding-right: 16px; padding-left: 16px; max-width: 1012px;
}
@media all and (min-width:544px)
{
.page-responsive .site-nav-container {
	padding-right: 40px; padding-left: 40px;
}
.page-responsive .site-footer-container {
	padding-right: 40px; padding-left: 40px;
}
}
@media all and (min-width:1012px)
{
.page-responsive .site-nav-container {
	padding-right: 16px; padding-left: 16px;
}
.page-responsive .site-footer-container {
	padding-right: 16px; padding-left: 16px;
}
}
@media all and (max-width:900px)
{
.page-responsive .site-nav-container .site-footer-mark {
	display: none;
}
.page-responsive .site-footer-container .site-footer-mark {
	display: none;
}
.page-responsive .site-nav-container .site-footer-links {
	text-align: center; margin-bottom: 8px; float: none !important;
}
.page-responsive .site-footer-container .site-footer-links {
	text-align: center; margin-bottom: 8px; float: none !important;
}
}
.off-screen-col {
	position: relative;
}
@media all and (min-width:768px)
{
.off-screen-col {
	left: -100px;
}
}
.off-screen-img {
	width: 100%;
}
@media all and (min-width:768px)
{
.off-screen-img {
	width: 800px; position: absolute;
}
}
.btn-orange {
	color: rgb(255, 255, 255); background-image: linear-gradient(-180deg, rgb(247, 128, 47) 0%, rgb(210, 90, 8) 90%); background-color: rgb(210, 90, 8);
}
.btn-orange:focus {
	box-shadow: 0px 0px 0px 0.2em rgba(247,128,47,0.3);
}
.focus.btn-orange {
	box-shadow: 0px 0px 0px 0.2em rgba(247,128,47,0.3);
}
.btn-orange:hover {
	background-position: 0px -0.5em; border-color: rgba(27, 31, 35, 0.5); background-image: linear-gradient(-180deg, rgb(247, 122, 37) 0%, rgb(200, 86, 7) 90%); background-color: rgb(200, 86, 7);
}
.hover.btn-orange {
	background-position: 0px -0.5em; border-color: rgba(27, 31, 35, 0.5); background-image: linear-gradient(-180deg, rgb(247, 122, 37) 0%, rgb(200, 86, 7) 90%); background-color: rgb(200, 86, 7);
}
.btn-orange:active {
	border-color: rgba(27, 31, 35, 0.5); box-shadow: inset 0px 0.15em 0.3em rgba(27,31,35,0.15); background-image: none; background-color: rgb(198, 94, 23);
}
.selected.btn-orange {
	border-color: rgba(27, 31, 35, 0.5); box-shadow: inset 0px 0.15em 0.3em rgba(27,31,35,0.15); background-image: none; background-color: rgb(198, 94, 23);
}
:disabled.btn-orange {
	border-color: rgba(27, 31, 35, 0.2); color: rgba(255, 255, 255, 0.75); box-shadow: none; background-image: none; background-color: rgb(233, 173, 131);
}
.disabled.btn-orange {
	border-color: rgba(27, 31, 35, 0.2); color: rgba(255, 255, 255, 0.75); box-shadow: none; background-image: none; background-color: rgb(233, 173, 131);
}
.btn-orange .Counter {
	color: rgb(244, 105, 9); background-color: rgb(255, 255, 255);
}
.btn-blurple {
	color: rgb(255, 255, 255); background-image: linear-gradient(-180deg, rgb(101, 112, 226) 0%, rgb(59, 65, 175) 90%); background-color: rgb(59, 65, 175);
}
.btn-blurple:focus {
	box-shadow: 0px 0px 0px 0.2em rgba(101,112,226,0.3);
}
.focus.btn-blurple {
	box-shadow: 0px 0px 0px 0.2em rgba(101,112,226,0.3);
}
.btn-blurple:hover {
	background-position: 0px -0.5em; border-color: rgba(27, 31, 35, 0.5); background-image: linear-gradient(-180deg, rgb(92, 104, 224) 0%, rgb(56, 62, 167) 90%); background-color: rgb(56, 62, 167);
}
.hover.btn-blurple {
	background-position: 0px -0.5em; border-color: rgba(27, 31, 35, 0.5); background-image: linear-gradient(-180deg, rgb(92, 104, 224) 0%, rgb(56, 62, 167) 90%); background-color: rgb(56, 62, 167);
}
.btn-blurple:active {
	border-color: rgba(27, 31, 35, 0.5); box-shadow: inset 0px 0.15em 0.3em rgba(27,31,35,0.15); background-image: none; background-color: rgb(58, 67, 187);
}
.selected.btn-blurple {
	border-color: rgba(27, 31, 35, 0.5); box-shadow: inset 0px 0.15em 0.3em rgba(27,31,35,0.15); background-image: none; background-color: rgb(58, 67, 187);
}
:disabled.btn-blurple {
	border-color: rgba(27, 31, 35, 0.2); color: rgba(255, 255, 255, 0.75); box-shadow: none; background-image: none; background-color: rgb(157, 160, 215);
}
.disabled.btn-blurple {
	border-color: rgba(27, 31, 35, 0.2); color: rgba(255, 255, 255, 0.75); box-shadow: none; background-image: none; background-color: rgb(157, 160, 215);
}
.btn-blurple .Counter {
	color: rgb(67, 80, 220); background-color: rgb(255, 255, 255);
}
.btn-outline-purple {
	color: rgb(111, 66, 193); background-image: none; background-color: rgb(255, 255, 255);
}
.btn-outline-purple .Counter {
	background-color: rgba(27, 31, 35, 0.07);
}
.btn-outline-purple:hover {
	border-color: rgb(111, 66, 193); color: rgb(255, 255, 255); background-image: none; background-color: rgb(111, 66, 193);
}
.btn-outline-purple:active {
	border-color: rgb(111, 66, 193); color: rgb(255, 255, 255); background-image: none; background-color: rgb(111, 66, 193);
}
.selected.btn-outline-purple {
	border-color: rgb(111, 66, 193); color: rgb(255, 255, 255); background-image: none; background-color: rgb(111, 66, 193);
}
.btn-outline-purple:hover .Counter {
	color: rgb(111, 66, 193); background-color: rgb(255, 255, 255);
}
.btn-outline-purple:active .Counter {
	color: rgb(111, 66, 193); background-color: rgb(255, 255, 255);
}
.selected.btn-outline-purple .Counter {
	color: rgb(111, 66, 193); background-color: rgb(255, 255, 255);
}
.btn-outline-purple:focus {
	border-color: rgb(111, 66, 193); box-shadow: 0px 0px 0px 0.2em rgba(111,66,193,0.3);
}
:disabled.btn-outline-purple {
	border-color: rgba(27, 31, 35, 0.15); color: rgba(27, 31, 35, 0.3); box-shadow: none; background-color: rgb(255, 255, 255);
}
.disabled.btn-outline-purple {
	border-color: rgba(27, 31, 35, 0.15); color: rgba(27, 31, 35, 0.3); box-shadow: none; background-color: rgb(255, 255, 255);
}
.btn-outline-orange {
	color: rgb(246, 106, 10); background-image: none; background-color: rgb(255, 255, 255);
}
.btn-outline-orange .Counter {
	background-color: rgba(27, 31, 35, 0.07);
}
.btn-outline-orange:hover {
	border-color: rgb(246, 106, 10); color: rgb(255, 255, 255); background-image: none; background-color: rgb(246, 106, 10);
}
.btn-outline-orange:active {
	border-color: rgb(246, 106, 10); color: rgb(255, 255, 255); background-image: none; background-color: rgb(246, 106, 10);
}
.selected.btn-outline-orange {
	border-color: rgb(246, 106, 10); color: rgb(255, 255, 255); background-image: none; background-color: rgb(246, 106, 10);
}
.btn-outline-orange:hover .Counter {
	color: rgb(246, 106, 10); background-color: rgb(255, 255, 255);
}
.btn-outline-orange:active .Counter {
	color: rgb(246, 106, 10); background-color: rgb(255, 255, 255);
}
.selected.btn-outline-orange .Counter {
	color: rgb(246, 106, 10); background-color: rgb(255, 255, 255);
}
.btn-outline-orange:focus {
	border-color: rgb(246, 106, 10); box-shadow: 0px 0px 0px 0.2em rgba(246,106,10,0.3);
}
:disabled.btn-outline-orange {
	border-color: rgba(27, 31, 35, 0.15); color: rgba(27, 31, 35, 0.3); box-shadow: none; background-color: rgb(255, 255, 255);
}
.disabled.btn-outline-orange {
	border-color: rgba(27, 31, 35, 0.15); color: rgba(27, 31, 35, 0.3); box-shadow: none; background-color: rgb(255, 255, 255);
}
.btn-outline-green {
	color: rgb(40, 167, 69); background-image: none; background-color: rgb(255, 255, 255);
}
.btn-outline-green .Counter {
	background-color: rgba(27, 31, 35, 0.07);
}
.btn-outline-green:hover {
	border-color: rgb(40, 167, 69); color: rgb(255, 255, 255); background-image: none; background-color: rgb(40, 167, 69);
}
.btn-outline-green:active {
	border-color: rgb(40, 167, 69); color: rgb(255, 255, 255); background-image: none; background-color: rgb(40, 167, 69);
}
.selected.btn-outline-green {
	border-color: rgb(40, 167, 69); color: rgb(255, 255, 255); background-image: none; background-color: rgb(40, 167, 69);
}
.btn-outline-green:hover .Counter {
	color: rgb(40, 167, 69); background-color: rgb(255, 255, 255);
}
.btn-outline-green:active .Counter {
	color: rgb(40, 167, 69); background-color: rgb(255, 255, 255);
}
.selected.btn-outline-green .Counter {
	color: rgb(40, 167, 69); background-color: rgb(255, 255, 255);
}
.btn-outline-green:focus {
	border-color: rgb(40, 167, 69); box-shadow: 0px 0px 0px 0.2em rgba(40,167,69,0.3);
}
:disabled.btn-outline-green {
	border-color: rgba(27, 31, 35, 0.15); color: rgba(27, 31, 35, 0.3); box-shadow: none; background-color: rgb(255, 255, 255);
}
.disabled.btn-outline-green {
	border-color: rgba(27, 31, 35, 0.15); color: rgba(27, 31, 35, 0.3); box-shadow: none; background-color: rgb(255, 255, 255);
}
.btn-transparent {
	padding: 0.55em 1em; border-radius: 0.25em; border: 1px solid rgba(255, 255, 255, 0.5); border-image: none; color: rgb(255, 255, 255); line-height: 1.5; font-size: inherit; font-weight: 500; background-image: none; background-color: transparent;
}
.btn-transparent:hover {
	border-color: rgb(255, 255, 255); color: rgb(51, 51, 51); background-image: none; background-color: rgb(255, 255, 255);
}
.btn-transparent:active {
	border-color: rgb(255, 255, 255); color: rgb(51, 51, 51); background-image: none; background-color: rgb(255, 255, 255);
}
.site-header {
	padding-top: 16px; padding-bottom: 16px; font-size: 16px; margin-bottom: -1px; border-bottom-color: rgb(225, 228, 232); border-bottom-width: 1px; border-bottom-style: solid; position: relative; z-index: 3; background-clip: padding-box; background-color: rgb(255, 255, 255);
}
.site-header::before {
	display: table; content: "";
}
.site-header::after {
	clear: both; display: table; content: "";
}
.site-header .header-logo-invertocat {
	margin: 3px 20px 3px 0px; color: rgb(36, 41, 46);
}
@media all and (max-width:960px)
{
.page-responsive .site-header {
	padding-top: 8px; padding-bottom: 8px;
}
}
.site-header .header-search {
	width: 200px; margin-right: 16px;
}
.site-header .site-scoped-search.header-search {
	width: 230px;
}
@media all and (max-width:960px)
{
.page-responsive .site-header .header-search {
	width: 100%; padding-bottom: 16px; margin-bottom: 8px; border-bottom-color: rgb(225, 228, 232); border-bottom-width: 1px; border-bottom-style: solid; float: none;
}
}
.site-header .header-search-wrapper {
	border-radius: 3px; font-size: 14px; margin-top: 3px; background-color: rgb(250, 250, 250);
}
.site-header .focus.header-search-wrapper {
	background-color: rgb(255, 255, 255);
}
.site-header .header-search-input {
	padding-right: 10px; padding-left: 10px; font-size: inherit; min-height: 32px;
}
.open.site-header .site-header-menu {
	display: block;
}
.site-header .site-header-link {
	color: rgb(3, 102, 214);
}
.site-header .header-search-scope:hover {
	color: rgb(36, 41, 46);
}
.site-header-toggle {
	display: none;
}
@media all and (max-width:960px)
{
.page-responsive .site-header-toggle {
	color: rgb(149, 157, 165); margin-top: 8px; display: block;
}
.page-responsive .site-header-toggle:hover {
	color: rgb(209, 213, 218);
}
}
.site-header-menu::before {
	display: table; content: "";
}
.site-header-menu::after {
	clear: both; display: table; content: "";
}
@media all and (max-width:960px)
{
.page-responsive .site-header-menu {
	padding-top: 15px; clear: left; display: none;
}
}
.site-header-nav {
	margin-bottom: 0px; float: left;
}
.site-header-nav .nav-item {
	color: rgb(36, 41, 46); line-height: 20px; padding-top: 9px; padding-bottom: 9px; float: left; position: relative;
}
.site-header-nav .nav-item:hover {
	color: rgb(88, 96, 105); text-decoration: none;
}
.site-header-nav .nav-item + .nav-item {
	margin-left: 20px;
}
.site-header-nav .selected {
	color: rgb(36, 41, 46); padding-bottom: 6px; border-bottom-color: rgb(225, 228, 232); border-bottom-width: 3px; border-bottom-style: solid;
}
@media all and (max-width:960px)
{
.page-responsive .site-header-nav {
	margin-bottom: 16px; float: none;
}
.page-responsive .site-header-nav .nav-item {
	padding-top: 16px; padding-bottom: 16px; margin-left: 0px; border-top-color: rgb(225, 228, 232); border-top-width: 1px; border-top-style: solid; float: none; display: block;
}
.page-responsive .site-header-nav :last-child.nav-item {
	border-bottom-color: rgb(225, 228, 232); border-bottom-width: 1px; border-bottom-style: solid;
}
.page-responsive .site-header-nav .selected {
	font-weight: 500; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
}
.site-header-actions {
	line-height: 38px; float: right; position: relative; z-index: 3;
}
@media all and (max-width:960px)
{
.page-responsive .site-header-actions {
	text-align: center; padding-bottom: 4px; float: none;
}
}
.site-header-dark .site-header {
	border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none; background-color: rgb(36, 41, 46);
}
.site-header-dark .site-header .header-logo-invertocat {
	color: rgb(255, 255, 255);
}
.site-header-dark .site-header .header-search-wrapper {
	border: 0px currentColor; border-image: none; background-color: rgba(255, 255, 255, 0.125);
}
.site-header-dark .site-header .focus.header-search-wrapper {
	box-shadow: none; background-color: rgba(255, 255, 255, 0.175);
}
.site-header-dark .site-header .header-search-input {
	color: rgb(255, 255, 255);
}
.site-header-dark .site-header :-ms-input-placeholder.header-search-input {
	color: rgb(209, 213, 218);
}
@media all and (max-width:960px)
{
.page-responsive .site-header-dark .site-header .site-header-toggle {
	color: rgb(255, 255, 255);
}
.page-responsive .site-header-dark .site-header .site-header-toggle:hover {
	color: rgba(255, 255, 255, 0.75);
}
}
.site-header-dark .site-header .nav-item {
	color: rgb(255, 255, 255);
}
.site-header-dark .site-header .nav-item:hover {
	color: rgba(255, 255, 255, 0.75);
}
.site-header-dark .site-header .site-header-nav .nav-item {
	border-top-color: rgba(255, 255, 255, 0.125);
}
.site-header-dark .site-header .site-header-nav :last-child.nav-item {
	border-bottom-color: rgba(255, 255, 255, 0.125);
}
.site-header-dark .site-header .site-header-nav .selected {
	color: rgb(255, 255, 255); border-bottom-color: rgb(106, 115, 125); border-bottom-width: 3px; border-bottom-style: solid;
}
@media all and (max-width:960px)
{
.site-header-dark .site-header .site-header-nav .selected {
	border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
}
.site-header-dark .site-header .header-search {
	border-bottom-color: rgba(255, 255, 255, 0.125);
}
.site-header-dark .site-header .site-header-actions {
	color: rgb(106, 115, 125);
}
.site-header-dark .site-header .site-header-link {
	color: rgb(255, 255, 255);
}
.site-subheader {
	padding-top: 16px; padding-bottom: 16px; position: relative; z-index: 2;
}
.site-subheader-overlay {
	margin-bottom: -96px;
}
@media all and (min-width:1012px)
{
.site-subheader-overlay {
	margin-bottom: -72px;
}
}
.site-subheader-sticky {
	top: 0px; z-index: 21;
}
.is-stuck.site-subheader-sticky {
	border-bottom-color: rgba(0, 0, 0, 0.1); border-bottom-width: 1px; border-bottom-style: solid; background-clip: padding-box; background-color: rgb(255, 255, 255);
}
.is-stuck.site-subheader-sticky::after {
	background: linear-gradient(rgba(0, 0, 0, 0.075), rgba(0, 0, 0, 0.001)) repeat-x 0px 0px; left: 0px; height: 12px; right: 0px; bottom: -12px; display: block; position: absolute; z-index: -1; content: "";
}
.subheader-title {
	text-align: center; font-weight: 400; margin-bottom: 10px; display: block;
}
@media all and (min-width:1012px)
{
.subheader-title {
	text-align: left; float: left;
}
}
.subheader-nav {
	font-size: 14px;
}
@media all and (min-width:768px)
{
.subheader-nav {
	font-size: 16px;
}
}
.subheader-nav .btn-outline-purple {
	font-size: inherit;
}
.subheader-nav .selected.nav-item {
	color: rgb(36, 41, 46);
}
.jumbotron + .site-subheader-business {
	margin-bottom: 0px; border-bottom-color: rgba(0, 0, 0, 0.1); border-bottom-width: 1px; border-bottom-style: solid;
}
.site-subheader-pricing {
	background-color: rgb(250, 251, 252);
}
.subheader-nav-business .nav-item {
	color: rgb(111, 66, 193);
}
.subheader-nav-business .nav-item:hover {
	color: rgb(58, 29, 110);
}
.plans-cards {
	flex:0 1 100%; margin-right: -10px; margin-left: -10px; display: flex; flex-direction: column; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -webkit-box-align: center; -webkit-align-items: center; -webkit-box-flex: 0; -webkit-flex: 0 1 100%;
}
@media all and (min-width:768px)
{
.plans-cards {
	flex-flow:row wrap; justify-content: center; align-items: stretch; -webkit-box-pack: center; -webkit-justify-content: center; -webkit-box-align: stretch; -webkit-align-items: stretch; -webkit-flex-flow: row wrap;
}
}
@media all and (min-width:1012px)
{
.plans-cards {
	flex-wrap: nowrap; -webkit-flex-wrap: nowrap;
}
}
.plans-card {
	font-size: 14px; margin-right: 10px; margin-bottom: 20px; margin-left: 10px; display: flex; box-shadow: 0px 1px 1px rgba(27,31,35,0.1); flex-direction: column; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column;
}
.plans-card-pricing-footnote {
	margin-left: -0.5em; display: inline-block;
}
.plans-card-business {
	position: relative;
}
.plans-card-business .plans-card-text {
	flex-basis: 100%; -webkit-flex-basis: 100%;
}
.plans-card-business :first-child.plans-card-text {
	border-right-color: rgb(225, 228, 232); border-right-width: 1px; border-right-style: solid;
}
.plans-card-business :first-child.plans-card-text .plans-card-btn {
	border-width: 1px 0px 0px; border-radius: 0px 0px 0px 2px;
}
.plans-card-business :last-child.plans-card-text .plans-card-btn {
	border-width: 1px 0px 0px; border-radius: 0px 0px 2px;
}
@media all and (min-width:768px)
{
.plans-card-business {
	width: calc(66.66667% + (10px * 2));
}
}
@media all and (min-width:1012px)
{
.plans-card-business {
	width: 66.66%;
}
}
.plans-card-business-contact {
	left: 0px; right: 0px; bottom: -32px; position: absolute;
}
.plans-card-text {
	flex:1 1 auto; display: flex; flex-direction: column; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -webkit-box-flex: 1; -webkit-flex: 1 1 auto;
}
.plans-card-text-split {
	flex:1 1 auto; display: flex; flex-direction: column; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -webkit-box-flex: 1; -webkit-flex: 1 1 auto;
}
.plans-card-btn {
	border-width: 1px 0px 0px; border-color: rgb(225, 228, 232); padding: 16px; border-radius: 0px 0px 2px 2px;
}
.plans-card-btn:hover {
	border-color: transparent;
}
.plans-card-btn:active {
	border-color: transparent;
}
.selected.plans-card-btn {
	border-color: transparent;
}
.pricing-table {
	text-align: center;
}
.pricing-table thead th {
	border-bottom-color: rgb(225, 228, 232); border-bottom-width: 1px; border-bottom-style: solid;
}
.pricing-table .pricing-table-spacer {
	border: 0px currentColor; border-image: none; height: 5px;
}
.pricing-table td:first-child {
	text-align: left; font-weight: 600;
}
.pricing-table td {
	padding: 8px 16px; width: 18%;
}
.pricing-table th {
	padding: 8px 16px; width: 18%;
}
.pricing-table td:first-child {
	width: 28%; padding-left: 0px;
}
.pricing-table th:first-child {
	width: 28%; padding-left: 0px;
}
.pricing-table td:last-child {
	padding-right: 0px;
}
.pricing-table th:last-child {
	padding-right: 0px;
}
.pricing-table td {
	border-bottom-color: rgb(234, 236, 239); border-bottom-width: 1px; border-bottom-style: solid;
}
.pricing-table td + td {
	border-left-color: rgb(234, 236, 239); border-left-width: 1px; border-left-style: solid;
}
.pricing-table-responsive {
	width: 100%; display: block; -ms-overflow-x: auto; min-height: 0.01%;
}
@media all and (min-width:768px)
{
.pricing-table-responsive {
	display: table;
}
}
.jumbotron {
	background-position: center; padding-top: 40px; padding-bottom: 40px; position: relative; background-repeat: no-repeat; background-size: cover;
}
@media all and (min-width:544px)
{
.jumbotron {
	padding-top: 60px; padding-bottom: 60px;
}
}
@media all and (min-width:1012px)
{
.jumbotron {
	padding-top: 100px; padding-bottom: 100px;
}
}
@media all and (min-width:1280px)
{
.jumbotron {
	padding-top: 120px; padding-bottom: 120px;
}
}
.jumbotron-codelines {
	background-position: center 10%; color: rgba(255, 255, 255, 0.6); background-image: url("/images/modules/site/heroes/simple-codelines.svg"), none; background-attachment: scroll, scroll; background-repeat: repeat, repeat; background-size: cover; background-origin: padding-box, padding-box; background-clip: border-box, border-box; background-color: rgb(43, 49, 55);
}
.jumbotron-integrations {
	background-position: top; background-image: url("/images/modules/site/heroes/features-hero-integrations.svg"); background-repeat: no-repeat; background-size: 110% auto;
}
.jumbotron-endpoints {
	background-position: center; background-image: url("/images/modules/site/heroes/features-hero-integrations-endpoints.svg"); background-repeat: no-repeat; background-size: 100%;
}
.jumbotron-projects {
	background-position: top, 0px 0px; background-image: url("/images/modules/site/heroes/features-hero-project-management.svg"); background-size: 110% auto;
}
.jumbotron-code-review {
	background-position: top, 0px 0px; background-image: url("/images/modules/site/heroes/features-hero-code-review.svg"); background-size: 110% auto;
}
.jumbotron-updates {
	background-position: top; margin-bottom: 40px; background-image: url("/images/modules/marketplace/bg-hero.svg"); background-repeat: repeat-y; background-size: 110% auto; background-color: rgb(47, 54, 61);
}
@media all and (min-width:768px)
{
.jumbotron-updates {
	background-repeat: no-repeat;
}
}
.jumbotron-updates .updates-video {
	bottom: -40px;
}
.jumbotron-split {
	background-position: center 175px; padding-bottom: 45%; min-height: 470px; background-repeat: no-repeat; background-size: 100% auto;
}
@media all and (min-width:768px)
{
.jumbotron-split {
	background-position: 125%; padding-bottom: 100px; min-height: 360px; background-size: 60% auto;
}
}
@media all and (min-width:1012px)
{
.jumbotron-split {
	background-position: right; background-size: 50% auto;
}
}
.jumbotron-split .jumbotron-content {
	background-color: rgb(250, 251, 252);
}
@media all and (min-width:768px)
{
.jumbotron-split .jumbotron-content {
	background-color: transparent;
}
}
.jumbotron-link {
	font-weight: 400; border-bottom-color: rgba(255, 255, 255, 0.125); border-bottom-width: 1px; border-bottom-style: solid;
}
.jumbotron-link:hover {
	text-decoration: none; border-bottom-color: rgba(255, 255, 255, 0.75);
}
.jumbotron-video {
	margin-top: 20px; margin-bottom: -20px; position: relative;
}
@media all and (min-width:544px)
{
.jumbotron-video {
	margin-top: 30px; margin-bottom: -30px;
}
}
@media all and (min-width:1012px)
{
.jumbotron-video {
	margin-top: 50px; margin-bottom: -50px;
}
}
@media all and (min-width:1280px)
{
.jumbotron-video {
	margin-top: 60px; margin-bottom: -60px;
}
}
.jumbotron-video-close {
	top: 0px; right: -40px; position: absolute;
}
.jumbotron-link-followup {
	margin: 0px auto; padding: 4px; line-height: 1; display: inline-block; white-space: normal; position: relative; z-index: 1;
}
.jumbotron-link-followup:hover {
	text-decoration: none;
}
@media all and (min-width:768px)
{
.jumbotron-link-followup {
	margin: 0px; display: block;
}
}
.jumbotron-link-followup .jumbotron-link-followup-icon {
	left: -4px; width: 25px; height: 25px; margin-left: -30px; vertical-align: middle; position: relative;
}
@media all and (min-width:768px)
{
.jumbotron-link-followup .jumbotron-link-followup-icon {
	width: 30px; height: 30px; margin-top: -2px; margin-left: -40px;
}
}
.featurette {
	padding-top: 80px; padding-bottom: 80px;
}
.page-responsive .featurette {
	padding-top: 50px; padding-bottom: 50px;
}
@media all and (min-width:768px)
{
.page-responsive .featurette {
	padding-top: 60px; padding-bottom: 60px;
}
}
@media all and (min-width:1012px)
{
.page-responsive .featurette {
	padding-top: 80px; padding-bottom: 80px;
}
}
.featurette-single {
	padding-top: 30px;
}
@media all and (min-width:768px)
{
.featurette-single {
	padding-top: 40px;
}
}
@media all and (min-width:1012px)
{
.featurette-single {
	padding-top: 60px;
}
}
.featurette-lead {
	margin-top: 0px; margin-bottom: 30px;
}
.featurette-lead strong {
	font-weight: 500;
}
.featurette-lead code {
	font-size: 90%;
}
@media all and (min-width:768px)
{
.featurette-lead {
	margin-bottom: 60px; max-width: 760px;
}
}
.featurette-heading {
	text-align: center;
}
.featurette-lead {
	text-align: center;
}
@media all and (min-width:768px)
{
.featurette-heading {
	text-align: inherit;
}
.featurette-lead {
	text-align: inherit;
}
}
.featurette-lead-center {
	text-align: center; margin-right: auto; margin-left: auto; max-width: 600px;
}
@media all and (min-width:1012px)
{
.featurette-lead-center {
	max-width: 800px;
}
}
.featurette-hr {
	clear: both; margin-top: 50px; margin-bottom: 50px;
}
.page-responsive .featurette-hr {
	margin-top: 36px; margin-bottom: 36px;
}
@media all and (min-width:768px)
{
.page-responsive .featurette-hr {
	margin-top: 50px; margin-bottom: 50px;
}
}
.featurette-benefit-img {
	width: 50px; vertical-align: top;
}
@media all and (min-width:768px)
{
.featurette-benefit-img {
	width: 60px;
}
}
.featurette-icon {
	width: 100%; height: auto;
}
.featurette-illo {
	padding: 0px 5%;
}
@media all and (min-width:768px)
{
.featurette-illo {
	padding: 0px;
}
}
.business-security-cta {
	padding-top: 40px; padding-bottom: 40px; border-top-color: rgb(238, 238, 238); border-top-width: 1px; border-top-style: solid;
}
.business-security-cta .container {
	width: 500px; max-width: 90%;
}
@media all and (min-width:1012px)
{
.business-security-cta {
	background-position: center 20px; height: 690px; padding-top: 290px; padding-bottom: 0px; border-top-color: currentColor; border-top-width: 0px; border-top-style: none; background-image: url("/images/modules/site/business-security-billboard-bg.svg"); background-repeat: no-repeat; background-size: 1850px 675px;
}
}
@media all and (min-width:768px)
{
.container-tiles {
	margin: 0px auto; overflow: hidden; max-width: 1330px;
}
}
:not(:last-child).tile {
	border-bottom-color: rgb(229, 229, 229); border-bottom-width: 1px; border-bottom-style: solid;
}
@media all and (min-width:768px)
{
.tile {
	border-right-color: transparent; border-right-width: 1px; border-right-style: solid;
}
:not(:last-child).tile {
	border-right-color: rgb(229, 229, 229); border-bottom-color: currentColor; border-right-width: 1px; border-bottom-width: 0px; border-right-style: solid; border-bottom-style: none;
}
:nth-of-type(2).tile {
	border-right-color: currentColor; border-bottom-color: currentColor; border-right-width: 0px; border-bottom-width: 0px; border-right-style: none; border-bottom-style: none;
}
}
@media all and (min-width:1012px)
{
:nth-of-type(2).tile {
	border-right-color: rgb(229, 229, 229); border-right-width: 1px; border-right-style: solid;
}
}
@media all and (min-width:768px)
{
.illflow {
	background-position: top; height: 600px; background-image: url("/images/modules/site/illflow_window_ui.png"); background-repeat: no-repeat; background-size: 795px auto;
}
}
@media all and (min-width:768px)
{
.illflow-purple .selected {
	background-color: rgb(245, 240, 255);
}
.illflow-purple .selected::after {
	border-color: transparent transparent rgb(245, 240, 255);
}
.illflow-purple .illflow-item .illflow-item-heading {
	color: rgb(111, 66, 193);
}
}
@media all and (min-width:768px)
{
.illflow-blue .selected {
	background-color: rgb(241, 248, 255);
}
.illflow-blue .selected::after {
	border-color: transparent transparent rgb(241, 248, 255);
}
.illflow-blue .illflow-item .illflow-item-heading {
	color: rgb(3, 102, 214);
}
}
@media all and (min-width:768px)
{
.illflow-orange .selected {
	background-color: rgb(255, 235, 218);
}
.illflow-orange .selected::after {
	border-color: transparent transparent rgb(255, 235, 218);
}
.illflow-orange .illflow-item .illflow-item-heading {
	color: rgb(246, 106, 10);
}
}
@media all and (min-width:768px)
{
.illflow-no-bg {
	background-image: none;
}
}
.illflow-no-bg .illflow-item::before {
	background-image: none;
}
@media all and (min-width:768px)
{
.illflow-steps {
	margin-top: 24px; margin-right: -20px; margin-left: -20px;
}
.illflow-steps::before {
	display: table; content: "";
}
.illflow-steps::after {
	clear: both; display: table; content: "";
}
}
.illflow-step {
	display: none;
}
@media all and (min-width:768px)
{
.active.illflow-step {
	display: block;
}
}
.illflow-item {
	padding: 0px 10%; text-align: center; margin-bottom: 40px; position: relative;
}
.illflow-item::before {
	left: -6%; top: 10%; padding-top: 200%; padding-left: 110%; display: block; position: absolute; z-index: -1; content: ""; background-image: url("/images/modules/site/illflow_window_ui.png"); background-repeat: no-repeat; background-size: 100% auto;
}
@media all and (min-width:768px)
{
.illflow-item::before {
	display: none;
}
}
.illflow-item .illflow-item-heading {
	color: rgb(68, 77, 86); position: relative;
}
@media all and (min-width:768px)
{
.illflow-item {
	padding: 20px; border-radius: 6px; width: 33.33%; margin-bottom: 0px; float: left; cursor: pointer;
}
:not(.selected).illflow-item:hover {
	background-color: rgb(250, 251, 252);
}
.selected.illflow-item .illflow-item-heading {
	color: rgb(36, 41, 46);
}
.selected.illflow-item::after {
	border-width: 15px; border-style: outset solid solid; left: 50%; top: -30px; width: 0px; height: 0px; margin-left: -15px; display: block; position: absolute; content: " "; pointer-events: none;
}
:first-child.selected.illflow-item::after {
	left: 75%;
}
:last-child.selected.illflow-item::after {
	left: 25%;
}
}
.illflow-item-description {
	margin-top: 0px;
}
.illflow-img {
	margin: 0px auto; width: 400px; height: auto; display: block;
}
@media all and (min-width:768px)
{
.illflow-bizsecurity {
	height: auto; background-image: url("/images/modules/site/business-security-illflow-bg.png"); background-size: 1000px auto;
}
}
.illflow-bizsecurity .img-responsive {
	max-width: 400px;
}
.illflow-bizsecurity .illflow-item::before {
	display: none;
}
.IconNav-item {
	animation-duration: 1.25s; animation-timing-function: cubic-bezier(0.1, 0, 0.13, 1.5); animation-iteration-count: 1; -webkit-animation-duration: 1.25s; -webkit-animation-timing-function: cubic-bezier(0.1, 0, 0.13, 1.5); -webkit-animation-iteration-count: 1;
}
.IconNav-item:hover {
	text-decoration: none;
}
.IconNav-item:hover .IconNav-img {
	transform: translateZ(0px) translateY(-10px); -webkit-transform: translateZ(0) translateY(-10px);
}
@media all and (min-width:1012px)
{
.IconNav-item {
	max-width: 160px;
}
}
.IconNav-img {
	max-height: 45px; transition-property: transform; transition-duration: 0.2s; transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -webkit-transition-duration: 0.2s; -webkit-transition-property: -webkit-transform;
}
@media all and (min-width:768px)
{
.IconNav-img {
	max-height: 60px;
}
}
@media all and (min-width:1012px)
{
.IconNav-img {
	max-height: 72px;
}
}
@media all and (min-width:544px)
{
.jumbotron .home-hero-signup {
	margin: 0px auto; max-width: 340px;
}
}
.home-hero-signup .form-label {
	text-align: left; font-size: 16px; font-weight: inherit; margin-bottom: 5px; display: block;
}
.home-hero-signup .form-control-lg {
	padding: 10px; border-radius: 5px; font-size: 16px; min-height: 46px;
}
.home-hero-signup :-ms-input-placeholder.form-control-lg {
	color: rgb(36, 41, 46);
}
.home-hero-signup .form-control-lg:focus {
	box-shadow: 0px 0px 0px 0.2em rgba(255,255,255,0.3);
}
.home-hero-signup .form-control-note {
	color: rgb(106, 115, 125); font-size: 12px; margin-top: 5px; margin-bottom: 0px;
}
.home-hero-signup .form-control-note .notice-highlight {
	color: rgb(149, 157, 165);
}
.partner-form-extras {
	display: none;
}
.casestudy-hero {
	background-position: center; background-size: cover;
}
.casestudy-square::after {
	transition:padding-bottom 0.3s; display: block; content: ""; -webkit-transition: padding-bottom 0.3s;
}
.casestudy-rectangle::after {
	transition:padding-bottom 0.3s; display: block; content: ""; -webkit-transition: padding-bottom 0.3s;
}
.casestudy-square::after {
	padding-bottom: 100%;
}
.casestudy-rectangle::after {
	padding-bottom: 50%;
}
.casestudy-hero-btn {
	left: 0px; top: 50%; right: 0px; margin-top: -17px; position: absolute; z-index: 2; opacity: 0;
}
.casestudy-hero-btn {
	transition:opacity 0.3s; -webkit-transition: opacity 0.3s;
}
.casestudy-header {
	transition:opacity 0.3s; -webkit-transition: opacity 0.3s;
}
.casestudy-facts {
	transition:opacity 0.3s; -webkit-transition: opacity 0.3s;
}
.casestudy-controls {
	transition:transform 0.3s; -webkit-transition: -webkit-transform 0.3s;
}
.casestudy-link {
	background-position: center; transition:transform 0.3s, box-shadow 0.3s; flex:1 1 0px; background-size: cover; -webkit-box-flex: 1; -webkit-flex: 1; -webkit-transition: -webkit-transform 0.3s, box-shadow 0.3s;
}
.casestudy-link .casestudy-hero {
	border-top-left-radius: 3px; border-top-right-radius: 3px;
}
.casestudy-link .casestudy-facts {
	opacity: 0;
}
.casestudy-link:hover {
	text-decoration: none; box-shadow: 0px 1px 15px rgba(27,31,35,0.15); transform: scale(1.025); -webkit-transform: scale(1.025);
}
@media all and (min-width:544px)
{
.casestudy-link:hover .casestudy-hero::before {
	left: 0px; top: 0px; right: 0px; bottom: 0px; position: absolute; z-index: 1; content: ""; background-color: rgba(111, 66, 193, 0.7);
}
}
@media all and (min-width:544px)
{
.casestudy-link:hover .casestudy-hero::after {
	padding-bottom: 50%;
}
}
@media all and (min-width:544px)
{
.casestudy-link:hover .casestudy-controls {
	transform: scale(1.08); -webkit-transform: scale(1.08);
}
}
.casestudy-link:hover .casestudy-title {
	color: rgb(111, 66, 193) !important;
}
@media all and (min-width:544px)
{
.casestudy-link:hover .casestudy-header {
	opacity: 0;
}
}
@media all and (min-width:544px)
{
.casestudy-link:hover .casestudy-hero-btn {
	opacity: 1 !important;
}
.casestudy-link:hover .casestudy-facts {
	opacity: 1 !important;
}
}
.is-expanded .casestudy-link:hover {
	transform: scale(1); -webkit-transform: scale(1);
}
.col-12 .casestudy-link .casestudy-square::after {
	padding-bottom: 25%;
}
.col-12 .casestudy-link .casestudy-facts {
	display: none !important;
}
.col-12 .casestudy-link .casestudy-header {
	opacity: 1 !important;
}
.casestudy-body {
	font-size: 16px;
}
.casestudy-body > p {
	color: rgb(88, 96, 105); margin-bottom: 24px;
}
.casestudy-body > p:first-child {
	font-size: 21px; font-weight: 300; -webkit-font-smoothing: antialiased;
}
@media all and (min-width:768px)
{
.casestudy-body > p:first-child {
	font-size: 24px;
}
}
@media all and (min-width:1012px)
{
.casestudy-body > p:first-child {
	font-size: 26px;
}
}
.casestudy-body h2 {
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif; font-weight: 400; margin-bottom: 8px;
}
.casestudy-body blockquote {
	color: rgb(88, 96, 105); line-height: 1.4; padding-top: 0px; padding-bottom: 0px; padding-left: 8px; font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace; font-size: 16px; margin-bottom: 24px; border-left-color: rgb(225, 228, 232); border-left-width: 3px; border-left-style: solid;
}
@media all and (min-width:768px)
{
.casestudy-body blockquote {
	line-height: 1.5; padding-left: 12px; font-size: 18px; margin-bottom: 32px; margin-left: -15px;
}
}
.casestudy-body ul {
	color: rgb(88, 96, 105); padding-left: 1em; margin-bottom: 24px;
}
.casestudy-body p + ul {
	margin-top: -8px;
}
.story {
	min-width: 200px;
}
:nth-child(2n).story {
	margin-top: -16px;
}
:nth-child(2n+1).story {
	margin-bottom: -16px;
}
@media all and (min-width:1012px)
{
.story {
	min-width: 330px; max-width: 400px;
}
}
.story-link {
	transition:transform 0.3s; -webkit-transition: -webkit-transform 0.3s;
}
.story-link:hover {
	text-decoration: none; transform: scale(1.025); -webkit-transform: scale(1.025);
}
.story-link:hover .story-title {
	color: rgb(227, 98, 9) !important; text-decoration: underline;
}
.story-link--customer:hover .story-title {
	color: rgb(111, 66, 193) !important;
}
.story-title {
	transition:color 0.3s; -webkit-transition: color 0.3s;
}
@media all and (min-width:768px)
{
.community-stats {
	padding-left: 50%; position: relative;
}
}
.community-stats :nth-child(1).community-link .circle {
	width: 225px; height: 225px;
}
.community-stats :nth-child(2).community-link .circle {
	left: 20%; width: 175px; height: 175px;
}
@media all and (min-width:1012px)
{
.community-stats :nth-child(2).community-link .circle {
	left: 25%; top: 40px;
}
}
.community-stats :nth-child(3).community-link .circle {
	left: 14%; width: 125px; height: 125px;
}
@media all and (min-width:1012px)
{
.community-stats :nth-child(3).community-link .circle {
	left: 16%;
}
}
.community-stats .circle {
	transition:transform 0.3s; -webkit-transition: -webkit-transform 0.3s;
}
.community-stats .bg-orange.circle {
	background-color: rgb(251, 133, 50) !important;
}
@media all and (min-width:768px)
{
.community-stats .circle {
	left: 0px; position: absolute;
}
}
@media all and (min-width:768px)
{
.community-stats .community-btn {
	max-width: 400px;
}
}
.community-link:hover {
	text-decoration: none;
}
.community-link:hover .circle {
	text-decoration: none; transform: scale(1.05); -webkit-transform: scale(1.05);
}
@media all and (min-width:544px)
{
.community-link:hover .community-btn {
	border-color: rgb(209, 213, 218); box-shadow: 0px 1px 15px rgba(27,31,35,0.15);
}
}
.community-link:hover .community-btn .octicon {
	-webkit-filter: grayscale(0%);
}
.community-btn {
	border: 1px solid transparent; transition:box-shadow 0.3s, border-color 0.3s; border-image: none; -webkit-transition: box-shadow 0.3s, border-color 0.3s;
}
@media all and (min-width:544px)
{
.community-btn .octicon {
	transition:filter 0.3s; -webkit-transition: -webkit-filter 0.3s, filter 0.3s; -webkit-filter: grayscale(100%);
}
}
.logo-img {
	margin: 10px; width: auto; height: 25px; vertical-align: middle; display: inline-block; position: relative;
}
@media all and (min-width:768px)
{
.logo-img {
	margin: 10px; width: auto; height: 30px;
}
}
@media all and (min-width:1012px)
{
.logo-img {
	margin: 10px 20px; height: 35px;
}
}
.logo-img-sm {
	margin: 10px; width: auto; height: 20px; vertical-align: middle; display: inline-block; position: relative;
}
@media all and (min-width:768px)
{
.logo-img-sm {
	margin: 10px; width: auto; height: 25px;
}
}
.logo-img-lg {
	margin: 5px 15px; width: auto; height: 35px;
}
@media all and (min-width:768px)
{
.logo-img-lg {
	margin: 10px 15px; width: auto; height: 40px;
}
}
@media all and (min-width:1012px)
{
.logo-img-lg {
	margin: 10px 25px; height: 50px;
}
}
.logo-wrap {
	display: inline-block;
}
.tooltipped-logo {
	display: inline-block;
}
.tooltipped-s.tooltipped-logo::after {
	font-size: 14px;
}
.tooltipped-se.tooltipped-logo::after {
	font-size: 14px;
}
.tooltipped-sw.tooltipped-logo::after {
	font-size: 14px;
}
@media all and (min-width:768px)
{
.bg-bubble {
	background-position: center 5%; background-image: url("/images/modules/site/pricing-bg.png"); background-repeat: no-repeat; background-size: 100% auto;
}
}
@media all and (min-width:1012px)
{
.bg-bubble {
	background-position: center -50px; background-size: auto auto;
}
}
@media all and (min-width:768px)
{
.bg-pricing {
	background-position: center 5%, 0px 0px; background-image: url("/images/modules/site/pricing-bg.png"), linear-gradient(180deg, rgb(245, 245, 245), rgb(255, 255, 255)); background-repeat: no-repeat; background-size: 100% auto, 100% 200px;
}
}
@media all and (min-width:1012px)
{
.bg-pricing {
	background-position: center 0px, 0px 0px; background-size: auto auto, 100% 200px;
}
}
.circle {
	border-radius: 100%;
}
.text-thin {
	font-weight: 300 !important;
}
.octicon-middle .octicon {
	vertical-align: middle;
}
.jumplink-stickynav::before {
	height: 100px; margin-top: -100px; display: block; content: "";
}
@media all and (min-width:768px)
{
.pulse-one {
	animation-name: pulse-one; -webkit-animation-name: pulse-one;
}
.pulse-two {
	animation-name: pulse-two; -webkit-animation-name: pulse-two;
}
.pulse-three {
	animation-name: pulse-three; -webkit-animation-name: pulse-three;
}
}
.page-responsive .site-footer-col {
	width: 50%;
}
.page-responsive :first-child.site-footer-col {
	width: 100%;
}
@media all and (min-width:544px)
{
.page-responsive .site-footer-col {
	width: 33.33%;
}
}
@media all and (min-width:768px)
{
.page-responsive .site-footer-col {
	flex-grow: 1; flex-basis: 0px; -webkit-box-flex: 1; -webkit-flex-grow: 1; -webkit-flex-basis: 0;
}
}
body:not(.page-responsive) .site-footer-col {
	flex-grow: 1; flex-basis: 0px; -webkit-box-flex: 1; -webkit-flex-grow: 1; -webkit-flex-basis: 0;
}
.btn-outline-desktop {
	background: rgb(36, 41, 46); border-color: rgba(159, 123, 225, 0.5); color: rgb(159, 123, 225);
}
.btn-outline-desktop:hover {
	background: linear-gradient(rgb(130, 65, 249), rgb(78, 39, 123)) rgb(159, 123, 225); border-color: rgb(21, 10, 39); color: rgb(255, 255, 255);
}
.btn-outline-desktop:active {
	background: linear-gradient(rgb(130, 65, 249), rgb(78, 39, 123)) rgb(159, 123, 225); border-color: rgb(21, 10, 39); color: rgb(255, 255, 255);
}
.btn-outline-desktop:active {
	background-image: linear-gradient(to top, rgb(130, 65, 249), rgb(112, 56, 205));
}
.btn-outline-atom {
	background: rgb(36, 41, 46); border-color: rgba(77, 224, 193, 0.5); color: rgb(77, 224, 193);
}
.btn-outline-atom:hover {
	background: linear-gradient(rgb(63, 182, 156), rgb(43, 126, 108)) rgba(77, 224, 193, 0.5); border-color: rgb(21, 10, 39); color: rgb(255, 255, 255);
}
.btn-outline-atom:active {
	background: linear-gradient(rgb(63, 182, 156), rgb(43, 126, 108)) rgba(77, 224, 193, 0.5); border-color: rgb(21, 10, 39); color: rgb(255, 255, 255);
}
.btn-outline-atom:active {
	background-image: linear-gradient(to top, rgb(63, 182, 156), rgb(43, 126, 108));
}
.featurette-desktop {
	background-position: center 0px, 0px 0px, 0px 0px; background-image: url("/images/modules/site/heroes/star-bg.svg"), linear-gradient(rgb(25, 28, 32), rgb(36, 41, 46) 15%); background-repeat: repeat-x; background-size: 100% auto; background-color: rgb(36, 41, 46);
}
.apps-cluster .CircleBadge {
	margin: 16px;
}
@media all and (min-width:1012px)
{
.apps-cluster .CircleBadge {
	position: relative;
}
}
@media all and (min-width:1012px)
{
.apps-cluster :nth-child(2n+1).CircleBadge {
	margin-top: -24px; animation-delay: 1.5s; animation-direction: reverse; -webkit-animation-delay: 1.5s; -webkit-animation-direction: reverse;
}
}
@media all and (min-width:1012px)
{
.apps-cluster :nth-child(2n).CircleBadge {
	margin-top: 24px; animation-duration: 6s; -webkit-animation-duration: 6s;
}
}
@media all and (min-width:1012px)
{
.apps-cluster :nth-child(1).CircleBadge {
	animation-delay: 2.1s; -webkit-animation-delay: 2.1s;
}
}
@media all and (min-width:1012px)
{
.apps-cluster :nth-child(4).CircleBadge {
	animation-delay: 0.7s; animation-direction: reverse; -webkit-animation-delay: 0.7s; -webkit-animation-direction: reverse;
}
}
@media all and (min-width:1012px)
{
.apps-cluster :nth-child(6).CircleBadge {
	animation-delay: 0.3s; -webkit-animation-delay: 0.3s;
}
}
.apps-cluster .tooltipped.CircleBadge:hover {
	box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.2);
}
.apps-quadrangle {
	width: 280px; height: 280px; position: relative;
}
.apps-quadrangle .CircleBadge {
	position: absolute;
}
.apps-quadrangle .CircleBadge::after {
	animation:connect_four 2s ease-in-out infinite alternate forwards; left: 0px; top: 50%; height: 3px; display: inline-block; position: absolute; z-index: -1; content: ""; background-color: rgb(225, 228, 232); -webkit-animation: 2s ease-in-out infinite alternate forwards connect_four;
}
.apps-quadrangle :nth-child(1).CircleBadge {
	left: 0px; top: 0px;
}
.apps-quadrangle :nth-child(2).CircleBadge {
	top: 0px; right: 0px;
}
.apps-quadrangle :nth-child(2).CircleBadge::after {
	transform-origin: 96px 96px; margin-top: 32px; margin-left: -40px; transform: rotate(-45deg) scale(-1, 1); animation-delay: 0.7s; -webkit-animation-delay: 0.7s; -webkit-transform: rotate(-45deg) scale(-1, 1); -webkit-transform-origin: 96px 96px;
}
.apps-quadrangle :nth-child(3).CircleBadge {
	left: 0px; top: auto; bottom: 0px;
}
.apps-quadrangle :nth-child(3).CircleBadge::after {
	animation-delay: 1.7s; -webkit-animation-delay: 1.7s;
}
.apps-quadrangle :nth-child(4).CircleBadge {
	top: auto; right: 0px; bottom: 0px;
}
.apps-quadrangle :nth-child(4).CircleBadge::after {
	content: none;
}
.server-stats .container {
	width: auto; padding-right: 16px; padding-left: 16px; margin-right: auto; margin-left: auto; max-width: 1012px;
}
@media all and (min-width:544px)
{
.server-stats .container {
	padding-right: 40px; padding-left: 40px;
}
}
@media all and (min-width:1012px)
{
.server-stats .container {
	padding-right: 16px; padding-left: 16px;
}
}
.icon-cta {
	padding-left: 24px;
}
.icon-cta > .octicon {
	width: 16px; text-align: center; color: rgb(106, 115, 125); margin-top: 0.1em; margin-left: -24px; float: left;
}
.signup-prompt {
	background: url("/images/modules/site/site-signup-prompt.png") center 25% / 100% auto; border: 1px solid rgba(27, 31, 35, 0.075); border-image: none;
}
.signup-prompt-bg {
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgb(255, 255, 255)), linear-gradient(70deg, rgb(234, 245, 255) 32%, rgb(246, 255, 248));
}
